* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    width: 100%;
    height: 100vh;
}

#header {
    background-color: crimson;
    display: flex;
    width: 100%;
    height: 90px;
}
.logo-title {
    background-color: limegreen;
    width: 50%;
    height: 100%;
}
.difficulty {
    background-color: darkgreen;
    width: 50%;
    height: 100%;
}

#main {
    width: 100%;
    height: calc(100% - 90px - 60px);
}

#footer {
    background-color: crimson;
    display: flex;
    width: 100%;
    height: 60px;
}
.copyright {
    background-color: tomato;
    width: 25%;
    height: 100%;
}